@tailwind base;
@tailwind components;
@tailwind utilities;


button.rp-done-button {
    @apply btn btn-info;
}

button.rp-cancel-button {
    @apply btn btn-error text-white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}